@import url(assets/fonts/Roboto-Bold.ttf);
@import url(assets/fonts/Roboto-Regular.ttf);

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
  display: grid;
  grid-template: 1fr 40px / 1fr;
  grid-template-areas:
    "sign-up"
    "footer";
}

.newsletter-sign-up {
  grid-area: sign-up;
}

.newsletter-header-image {
  grid-area: header;
  min-width: 100%;
}

.newsletter-header-image img {
  width: 100%;
  max-height: 400px;
}

.newsletter-main {
  grid-area: main;

  margin: 20px 5%;
  display: flex;
  flex-direction: column;
}

.newsletter-heading {
  font-size: 36px;
  margin-bottom: 20px;
  color: hsl(234, 29%, 20%);
}

.info-article {
  color: hsl(235, 18%, 26%);
  font-size: 16px;
  margin: 0 10px 20px 0;
}

.info-list ul {
  list-style: none;
}

.li-container {
  display: flex;
  margin: 20px 0;
}

.li-container img {
  margin-right: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 0.8rem;
  color: hsl(235, 18%, 26%);
  font-weight: 700;
  margin-bottom: 5px;
}

.form-label {
  display: flex;
  justify-content: space-between;
  padding: 0 2px;
}

.form-label .error-message {
  color: hsl(4, 100%, 67%);
  visibility: hidden;
}

.form-label .error-message.active {
  visibility: visible;
}

.input-email {
  padding: 15px 20px;
  border-radius: 8px;
  border: 1px solid hsl(231, 7%, 60%);
  font-size: 16px;
  color: hsl(231, 7%, 45%);
}

.input-email.active {
  border: 1px solid hsl(4, 100%, 67%);
  background-color: #ffe8e6;
}

.input-email:hover {
  cursor: pointer;
}

.btn {
  border: none;
  background-color: hsl(234, 29%, 20%);
  padding: 15px 20px;
  color: hsl(0, 0%, 100%);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 700;
}

.submit-btn {
  margin-top: 20px;
}

.submit-btn:hover {
  cursor: pointer;
}

.attribution {
  grid-area: footer;

  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.success-message {
  display: none;
  height: 0;
}

.success-message.active {
  position: fixed;
  height: 100vh;
  display: flex;
  place-items: center;
  background-color: hsl(0, 0%, 100%);
}

.success-message-container {
  margin: 0 5%;
  height: 90vh;
  display: grid;
  grid-template: 1fr 1fr 55px / 1fr;
  grid-template-areas:
    "sheader"
    "sarticle"
    "dismissbtn";
  color: hsl(234, 29%, 20%);
}

.success-message-header {
  grid-area: sheader;

  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 26px;
  margin-bottom: 20px;
}

.success-message-header .icon-success {
  margin-bottom: 30px;
}

.success-message-article {
  grid-area: sarticle;
  font-size: 16px;
  line-height: 1.4rem;
}

.success-message-article .email-span {
  font-weight: 700;
}

.dismiss-btn {
  grid-area: dismissbtn;

  transition: background-color 0.3s;
}

.dismiss-btn:hover {
  cursor: pointer;
  background-color: hsl(235, 18%, 26%);
}

@media (max-width: 359px) {
  body {
    grid-template: auto 40px / 1fr;
    grid-template-areas:
      "sign-up"
      "footer";
  }
  .newsletter-main {
    margin: 10px 5%;
  }
}

@media (min-width: 768px) {
  body {
    grid-template: 1fr 40px / 550px;
    justify-content: center;
    grid-template-areas:
      "sign-up"
      "footer";
  }
}

@media (min-width: 1440px) {
  body {
    background-color: hsl(235, 18%, 26%);
    grid-template: 1fr 40px / 850px;
    grid-template-areas:
      "sign-up"
      "footer";
    align-items: center;
  }

  .newsletter-sign-up {
    background-color: hsl(0, 0%, 100%);
    height: 600px;
    border-radius: 30px;

    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-template-areas: "main header";
  }

  .newsletter-main {
    display: flex;
    justify-content: center;
    margin-left: 60px;
  }

  .newsletter-main h1 {
    font-size: 48px;
  }

  .newsletter-header-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }

  .newsletter-header-image img {
    border-radius: 15px;
    width: auto;
    max-height: 550px;
  }

  .attribution {
    color: hsl(0, 0%, 100%);
  }
  .attribution a {
    color: #dcdde2;
  }
}
